<module name="Checker">
    <property name="basedir" value="src/checkstyle"/>
    <property name="cacheFile" value="target/cachefile"/>
    <property name="localeCountry" value="EN"/>
    <property name="localeLanguage" value="en"/>
    <module name="JavadocPackage"/>
    <module name="TreeWalker">
        <module name="AvoidStarImport"/>
        <module name="ConstantName"/>
        <module name="EmptyBlock"/>
    </module>
    <module name="NoLineWrap"/>
    <module name="LineLength">
        <property name="max" value="120"/>
    </module>
</module>
